body{
  background-image: linear-gradient(to right,rgb(3,120,171), rgb(9,132,156));
}

.main_title{
  border-style: solid;
  color: orange;

  text-align: center;
  font-family: sans-serif;
}

#linked, #subtitle{
  color: #f1f7f9;
}

#in{
  border-radius: 2px;
  background-color: #f1f7f9;
  color: #08839e;
}


.main_body{
  background-color: #edf0f3;
  position: relative;
  margin-left: 35%;
  margin-right: 35%;
}

.email_section, .password_section{
  padding-top: 4%;
}

#email_title, #password_title{
  margin-left: 5%;
}

.email_text, .password_text{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 5%;
}

.terms{
  border-style: solid;
}

.join{
  color: #f1f8fa;
  background-color: #0073b1;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 16px;
}

.google{
  color: #118cc3;
  background-color: #edf0f3;
  border-color: #118cc3;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 16px;
}

.sign_in{
  border-style: solid;
  color: pink;
}
/*
body{
  position: fixed;
  text-align: center;
  background-image: linear-gradient(to right,rgb(3,120,171), rgb(9,132,156));
}

#title{
  font-family: sans-serif;
  color: #f1f8fa;
}
.in{
  color: #077ea4;
  border-style: solid;
  background-color: #f1f8fa;
}

#subtitle{
  font-family: sans-serif;
  color: #f1f8fa;
}

.page_input{
  background-color: #edf0f3;
  margin-top: 10px;
  margin-bottom: 200px;
  margin-right: 420px;
  margin-left: 420px;
  padding-bottom: 5px;

}

.email_button, .password_button{
  text-align: left;
  padding-top: 15px;
  padding-left: 25px;
  font-size: 14px;
}

#email_box, #password_box{
  width: 300px;
}

#terms{
  padding-left: 35px;
  padding-right:35px;
  font-size: 12px;
}

.join{
  color: #f1f8fa;
  background-color: #0073b1;
  width: 300px;
  font-size: 16px;
  margin-bottom: 10px;
}

.google{
  margin-top: 10px;
  color: #118cc3;
  background-color: #edf0f3;
  border-color: #118cc3;
  width: 300px;
  font-size: 16px;
}

#signin{
  font-size: 14px;
}

a{
  color:#4296c4;
  text-decoration: none;
}
*/
