body{
  background-image: linear-gradient(to right,rgb(3,120,171), rgb(9,132,156));
}

.main_title{
  text-align: center;
  font-family: sans-serif;
  padding-top: 1%;
}

#linked, #subtitle{
  color: #f1f7f9;
}

#in{
  border-radius: 2px;
  background-color: #f1f7f9;
  color: #08839e;
}


.main_body{
  background-color: #edf0f3;
  position: relative;
  margin-left: 35%;
  margin-right: 35%;
}

.email_section, .password_section{
  padding-top: 4%;
}

#email_title, #password_title{
  margin-left: 5%;
}

.email_text, .password_text{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 5%;
}

.terms{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 12px;
}

a{
  color:#4296c4;
  text-decoration: none;
}

.join{
  color: #f1f8fa;
  background-color: #0073b1;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 16px;
  height: 6%;
  border-radius: 4px;
}

.google{
  color: #118cc3;
  background-color: #edf0f3;
  border-color: #118cc3;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 16px;
  height: 6%;
  border-radius: 4px;
}

.sign_in{
  text-align: center;
  font-size: 16px;
  padding-top: 5%;
  padding-bottom: 5%;
}

h5 {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%
    text-align: center;
    font-size: 16px;
}

h5:before,
h5:after {
    content: '';
    border-top: 1px solid;
}
